
<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 220px;
        right: 0;
        bottom: 0;
        left: 0;
        width: 500px;
    }
    .requestForm {
        margin-top: 500px;
    }
    
</style>
<body>
 <link href="plugin_assets/reviews/bstrp/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="plugin_assets/reviews/awesomplete/awesomplete.css" />
 <script src="plugin_assets/reviews/awesomplete/awesomplete.js" async></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="plugin_assets/reviews/bstrp/js/bootstrap.min.js"></script>
<div class="requestform">

<center>
<form  name="fReq" role="form" action="availableBranches">
    <input type="hidden" name="req" id="req" value=0>       
    <input type="hidden" name="projectName" id="projectName" value =<%= @projName %> >
<br> <br>
<br> <br>

<center><button type="button"  class ="btn btn-info" id="sendReq"  onclick="sendRequest()"> Send a review request </button></center>

</form>
<br><br>
</div>

</div>
<script type="text/javascript">

   function initComponents () {
   }
   function chooseReviewer () {
      alert (document.getElementById("branch").value);
      
   } 
   function sendRequest() {
      document.getElementById("req").value = 1;
      document.forms["fReq"].submit();      
   }
</script>
