<link href="plugin_assets/reviews/bstrp/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="plugin_assets/reviews/awesomplete/awesomplete.css" />
 <script src="plugin_assets/reviews/awesomplete/awesomplete.js" async></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="plugin_assets/reviews/bstrp/js/bootstrap.min.js"></script>
<link href="plugin_assets/reviews/c3/c3.css" rel="stylesheet" type="text/css">
<!-- Load d3.js and c3.js -->
<script src="plugin_assets/reviews/c3/d3.v3.min.js" charset="utf-8"></script>
<script src="plugin_assets/reviews/c3/c3.min.js"></script>
<form role="form" name="fShowStats" class="form-inline" action="managerDashboard">
    <select name="developer" id="developer">
        <% @users.each do |user| %>
           <% if user['firstname'] != nil && user['lastname'] != nil && user['lastname'] != "Anonymous" %>
		<option><%= user['firstname']+' '+user['lastname'] %>  </option>
           <%end%>
        <%end%>
    </select>
    <input type="hidden" name="nameChanged" id="nameChanged">
     <input type="hidden" name="project_id" id="project_id" value=<%= @project  %>> 
    <button class="btn btn-info" type="submit" onclick="showStatsForName()"> Show statistics </button>
</form>
<div id="chart"></div>

<script type="text/javascript">


var chart = c3.generate({
    data: {
        // iris data from R
      
        
          columns: [
            ['data1', 30],
            ['data2', 120],
        ],
       
        
        type : 'pie',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    }
    
 
});
 
function showStatsForName() {
   document.getElementById("nameChanged").value=1;
}
</script>
