<body>
<link href="plugin_assets/reviews/bstrp/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="plugin_assets/reviews/awesomplete/awesomplete.css" />
 <script src="plugin_assets/reviews/awesomplete/awesomplete.js" async></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="plugin_assets/reviews/bstrp/js/bootstrap.min.js"></script>

 Starting the review ...
</body>
